# MongoDB
MONGO_URI=mongodb://username:password@localhost:27017/housnkuh?authSource=admin

# JWT
JWT_SECRET=dein-geheimes-token
JWT_EXPIRES_IN=1d

# Server
PORT=4000
NODE_ENV=production

# E-Mail
EMAIL_HOST=smtp.beispiel.de
EMAIL_PORT=587
EMAIL_USER=dein-email@beispiel.de
EMAIL_PASS=dein-passwort